.card {
    height: 100%;
    display: inline;
    float: left;
    flex-direction: column;
    justify-content: space-between;
}

.card-body img {
    max-width: 100%;
    height: auto;
}

.card-footer {
    text-align: center;
}